span.navbar-brand {
    color:white;
    text-align: center;
}
.search-container {
    position: relative;
    left: 3px;
    background: whitesmoke;
}
.search-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
}
.h1 {
    color: white;
}
button {
    display: inline-block;
}
.search {
    padding: 13px;
    background-color: blue;
    flex-wrap: wrap;
}
#currentweather {
    margin-right: 100px;
    margin-left: 350px;
    margin-top: 50px; 
    margin-bottom: 200px;
    height: 350px;
    width: 70%;
    position: absolute;
    top: 15px;
}
.header {
    font-size: 28px;
    margin-left: 375px;
    margin-top: 295px;
}
.card {
    margin-right: 100px;
    margin-left: 350px;
    height: 100px;
    width: 35%;
    position: absolute;
    top: 450px;
}