span.navbar-brand {
    color:white;
    text-align: center;
}
.search-container {
    position: relative;
    left: 3px;
    background: whitesmoke;
}
.search-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
}
.h1 {
    color: white;
}
button {
    display: inline-block;
}
.search {
    padding: 13px;
    background-color: blue;
    flex-wrap: wrap;
}
#currentweather {
    /* margin-right: 100px; */
    margin-left: 1px;
    margin-top: 5px; 
    margin-bottom: 200px;
    height: 300px;
    width: 80%;
    top: 15px;
}
.cityandcurrentdate {
    font-size: 32px;
    padding-left: 20px;
}
.tempF {
    font-size:20px;
    line-height: 90px;
    padding-left: 20px;
}
.humidity{
    font-size: 20px;
    line-height: 80px;
    padding-left: 20px;
}
.wind {
    font-size: 20px;
    padding-left: 20px;
}
.uv {
    font-size: 20px;
    padding-left: 20px;
}
.header {
    font-size: 36px;
    margin-left: 345px;
    margin-top: 295px;
}
h3 {
    margin-left: 350px;
    margin-top: 300px;
}
.weather-card{
    width: 8rem;
    height: 10rem;
    float: left;
    line-height: 100px;
}
.card-body{
    color: blue;
}
